@import "tailwindcss";
@import "@nuxt/ui";

/* Rubik */
@font-face {
  font-family: 'Rubik';
  src: url('~/assets/fonts/Rubik-Light.woff2') format('woff2'),
       url('~/assets/fonts/Rubik-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('~/assets/fonts/Rubik-Regular.woff2') format('woff2'),
       url('~/assets/fonts/Rubik-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('~/assets/fonts/Rubik-Medium.woff2') format('woff2'),
       url('~/assets/fonts/Rubik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('~/assets/fonts/Rubik-SemiBold.woff2') format('woff2'),
       url('~/assets/fonts/Rubik-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('~/assets/fonts/Rubik-Bold.woff2') format('woff2'),
       url('~/assets/fonts/Rubik-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('~/assets/fonts/Rubik-ExtraBold.woff2') format('woff2'),
       url('~/assets/fonts/Rubik-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('~/assets/fonts/Rubik-Black.woff2') format('woff2'),
       url('~/assets/fonts/Rubik-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Prata */
@font-face {
  font-family: 'Prata';
  src: url('~/assets/fonts/Prata-Regular.woff2') format('woff2'),
       url('~/assets/fonts/Prata-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-rubik: 'Rubik', sans-serif;
  --font-prata: 'Prata', serif;
}

:root {
  --ui-radius: 0rem;
}

.dark {
  --ui-bg: var(--ui-color-neutral-900);
  --ui-bg-muted: var(--ui-color-neutral-800);
  --ui-bg-elevated: var(--ui-color-neutral-700);
  --ui-bg-accented: var(--ui-color-neutral-600);
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: var(--ui-bg);
  color: var(--ui-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Prata', serif;
}
